<h3>Directivas</h3>

<!--Expresiones implicitas con palabras reservadas

@code {
   
}
 esta habiliata un componente razor para agregar todo tipo de miembro en C# 

@Page 

esta indica la direccion a traves de la cual el componente sera accesible desde el navegador

@implementss sirve para implementar una interfaz

@inheritss sirve heredar  una clase
@injectsshabilita a inyectar un servicio, asi se inyecata dependendencias
@layoutt cual layout se va a usar
@using acceder a todos los elementos de una libreria
-->
@code {

}
